{% load static %}

<nav class="navbar navbar-expand-lg bg-transparent mt-2 p-3" data-bs-theme="dark">
    <div class="container-fluid">
      
      <a class="navbar-brand ms-3" href="{% url 'home' %}"><span class="fs-4 home-icon">IM</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">asd</span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="#"><span>01.</span> About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#"><span>02.</span> Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#"><span>03.</span>Work</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="{% url 'contact_form' %}"><span>04.</span> Contact</a>
          </li>
          <li class="nav-item d-flex align-items-center ">
            <a class="btn btn-primary btn-sm bg-primary" href="{% static 'cv\CV_Ignacio_Medici.pdf' %}" target="_blank">Download CV</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>